@model RealEstateMVC.Models.HouseListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderSection("h1", false)<!--h1 header-->

<div class="container">
    <form asp-action="Index" method="get"><!--Select list for counties-->
        Counties: 
        <select size="1" asp-for="County" asp-items="Model.County">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter"/>
    </form>
    <h4>Houses</h4>
    <hr />
    <table class="table table-bordered"><!--house table-->
        <tr>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].Bed)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].Bath)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].SquareFeet)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].Price)</th>
            <th class="col-2">@Html.DisplayNameFor(model => model.houses[0].Address)</th>
            <th class="col-2">@Html.DisplayNameFor(model => model.houses[0].City)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].State)</th>
            <th class="col-1">@Html.DisplayNameFor(model => model.houses[0].Zip)</th>
            <th class="col-2">@Html.DisplayNameFor(model => model.houses[0].NextOpenHouse)</th>
        </tr>
        @foreach(House house in Model.houses)
        {
        <tr>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.Bed)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.Bath)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.SquareFeet)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.Price)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => house.Address)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => house.City)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.State)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => house.Zip)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => house.NextOpenHouse)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@house.Id">Select</a>
            </td>
        </tr>
        }
    </table>
</div>

@RenderBody()
