@model RealEstateMVC.Models.HouseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>House</h4>
<p>@TempData["ErrorMessage"]</p><!--temporary error message when a house address in invalid-->
<hr />
<div class="row">
    <div class="container col-7">
        <!--Slideshow-->
        @foreach (Image image in Model.Images)
        {
            <div class="mySlides" id="@image.Id">
                <img height="359" src="@image.ImageDataUrl" />
            </div>
        }
        <div class="row">
            <div class="col-2">
                <button id="prevButton" onclick="plusSlides(-1)">&#10094</button>
                <button id="nextButton" onclick="plusSlides(1)">&#10095</button>
            </div>
            <!--pass house id and image id-->
            <div class="col-2">
                <form asp-action="DeleteImage" asp-route-id="@Model.house.Id" method="post">
                    <input id="imageId" type="hidden" name="imageId" value="" />
                    <input type="submit" onclick="deleteImage()" value="Delete Image" />
                </form>
            </div>
        </div>
    </div>
    <div class="container col-5">
        <form asp-action="Edit" method="post" enctype="multipart/form-data")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.house.Id" />
            <div class="form-group">
                <label asp-for="@Model.house.County" class="control-label"></label>
                <input type="text" asp-for="@Model.house.County" class="form-control" />
                <span asp-validation-for="@Model.house.County" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.Price" class="control-label"></label>
                <input type="number" asp-for="@Model.house.Price" class="form-control" />
                <span asp-validation-for="@Model.house.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.Bed" class="control-label"></label>
                <input type="number" asp-for="@Model.house.Bed" class="form-control" />
                <span asp-validation-for="@Model.house.Bed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.Bath" class="control-label"></label>
                <input type="number" asp-for="@Model.house.Bath" class="form-control" />
                <span asp-validation-for="@Model.house.Bath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.SquareFeet" class="control-label"></label>
                <input type="number" asp-for="@Model.house.SquareFeet" class="form-control" />
                <span asp-validation-for="@Model.house.SquareFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.Address" class="control-label"></label>
                <input type="text" asp-for="@Model.house.Address" class="form-control" />
                <span asp-validation-for="@Model.house.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.City" class="control-label"></label>
                <input type="text" asp-for="@Model.house.City" class="form-control" />
                <span asp-validation-for="@Model.house.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.State" class="control-label"></label>
                <input type="text" asp-for="@Model.house.State" class="form-control" />
                <span asp-validation-for="@Model.house.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.Zip" class="control-label"></label>
                <input type="text" asp-for="@Model.house.Zip" class="form-control" />
                <span asp-validation-for="@Model.house.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.house.NextOpenHouse" class="control-label"></label>
                <input type="date" name="date" class="form-control" value="@Model.house.NextOpenHouse.ToString("yyyy-MM-dd")"/>
                <input type="time" name="time" class="form-control" value="@Model.house.NextOpenHouse.ToString("HH:mm")" />
                <span asp-validation-for="@Model.house.NextOpenHouse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="images">Upload Images:</label>
                <input type="file" id="images" name="images" multiple="multiple" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
