@model RealEstateMVC.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string divId;
    int i = 0;
    int y;
}

<h1>Houses</h1>

<div class="container" style="overflow:hidden">
    <form asp-action="Index" method="get">
        <!--Select list for counties-->
        Counties:
        <select name="county" asp-items="Model.County">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </form>
    <br />
    @foreach(HouseViewModel houseVM in Model.Houses)
    {
        y = 0;
        i++;
        divId = "house" + i.ToString() + "Images";
        <div class="col-6" style="display:block; float: left;">
            <a asp-action="Details" asp-route-id="@houseVM.house.Id">
                <div id="@divId" onmouseover='StartSlideShow("@divId")' onmouseout='StopSlideShow()'>
                    @foreach (Image image in houseVM.Images)
                    {
                        @if (y == 0)
                        {
                            <img width="400" src="@houseVM.Images[y].ImageDataUrl" />
                        }
                        else
                        {
                            <img style="display: none;" width="400" src="@houseVM.Images[y].ImageDataUrl" />
                        }
                        y++;
                    }
                </div>
            </a><br />
            <label>Price: </label> @Html.DisplayFor(modelItem => houseVM.house.Price) <br />
            <label>Address: </label> @Html.DisplayFor(modelItem => houseVM.house.Address)
        </div>
    }
</div>